* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Courier New', Courier, monospace;
    --bgColor: #cce2ff;
    --borderColor: #0095ff;
    --gridLightColor: #ffffff;
    --gridDarkColor: #cccccc;
}

/* flexboxes */
body,
.wrapper,
nav,
.container,
.row,
.userSelection {
    display: flex;
}

body {
    background-color: var(--bgColor);
    justify-content: center;
}

.wrapper {
    flex-direction: column;
}

/* navigation bar */
nav {
    flex-wrap: wrap;
    width: 90vw;
    align-items: center;
    padding: 0.25em 0;
    justify-content: space-between;
}

nav img {
    height: 3em;
    width: 3em;
    padding: 0.5em;
    background-color: var(--gridLightColor);
}

h1 {
    padding: 0.5em;
    font-size: 1.5em;
}

.userSelection {
    align-items: center;
}

/* grid container */
.container {
    background-color: var(--gridLightColor);
    border: 2px solid var(--borderColor);
    width: 90vw;
    height: 90vw;
    flex-direction: column;
    align-self: center;
}

@media (orientation: landscape) {

    /* switch grid container parmeters based on screen rotation */
    .container {
        width: 85vh;
        height: 85vh;
    }

    nav {
        width: 85vh;
    }
}

.container>.row,
.container>.row>div {
    flex: 1;
}

.gridLine {
    border: 1px solid var(--gridDarkColor);
}

/* thinner grid */
.container>.row>div {
    border-top: none;
    border-left: none;
}

.container>.row:last-child>div {
    border-bottom: none;
}

.container>.row>div:last-child {
    border-right: none;
}

/* footer section */
footer {
    align-self: center;
    margin-top: 1rem;
}