* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Courier New', Courier, monospace;
    --bgColor: #cce2ff;
    --borderColor: #0095ff;
    --gridLightColor: #ffffff;
    --gridDarkColor: #cccccc;
    --blackPaint: #333333;
}

/* flexboxes */
body,
.wrapper,
nav,
.container,
.row {
    display: flex;
}

body {
    background-color: var(--bgColor);
    justify-content: center;
}

.wrapper {
    flex-direction: column;
}

/* navigation bar */
nav {
    align-items: center;
    padding: 0.25em 0;
    justify-content: space-between;
}

nav img {
    height: 3em;
    width: 3em;
    padding: 0.5em;
    background-color: var(--gridLightColor);
}

h1 {
    padding: 0.5em;
    font-size: 1.5em;
}

/* grid container */
.container {
    background-color: var(--gridLightColor);
    border: 2px solid var(--borderColor);
    width: 90vh;
    height: 90vh;
    flex-direction: column;
}

.container>.row {
    flex: 1;
}

.container>.row>div {
    flex: 1;
    border: 1px solid var(--gridDarkColor);
}

/* thinner grid */
.container>.row>div {
    border-top: none;
    border-left: none;
}

.container>.row:last-child>div {
    border-bottom: none;
}

.container>.row>div:last-child {
    border-right: none;
}

/* paint black */
.black {
    background-color: var(--blackPaint);
}